backend:
  name: git-gateway
  branch: main   # oder dein Haupt-Branch

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "pages"
    label: "Seiten"
    label_singular: "Seite"
    folder: "content/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Titel", name: "title", widget: "string" }
      - { label: "Inhalt", name: "body", widget: "markdown" }
